    <form action="messagecontent" method="post">
  <div style="margin-top: 10px;margin-left: 80px"> 
    <textarea name="content" id="content" cols="30" rows="5" style="width:400px;resize: none;border-radius: 5px"></textarea>
   </div> 
   <button type='button' onclick="messagereply(ids,receiveids)" style="margin:10px 45%;" class="btn btn-default" data-dismiss='modal'>发送</button>
   </form>