<table class="table table-hover">
	 <thead>
	 <tr>
      <th>商品名称</th>
      <th>商品简介</th>
      <th>商品价格</th>
    </tr>
	 </thead>
	 <tbody>
       <%result.forEach(function(row){%>
        <tr>
        	<td><%-row._source.title%></td>
        	<td><%-row._source.content%></td>
        	<td><%-row._source.suggest%></td>
        </tr>
       <%})%>
   </tbody>
</table>